
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Bienvenue sur l'API des animaux</h1>
    <nav>
        <ul>
          <li><a href="/animals/FR">Les animaux de France</a></li>
          <li><a href="/animals/ES">Les animaux d'Espagne</a></li>
          <li><a href="/country">Pays</a></li>
        </ul>
    </nav>

    
    <select name="countries" id="country-select" onchange="handleCountryChange()">
        <option value="">--Please choose a country--</option>
        <% apiPays.forEach(country => { %>
            <option value="<%= country %>"><%= country %></option>
        <% }); %>
    </select>

    <div id="country-info">
        <h2>Informations sur le pays</h2>
    </div>

    <script>
        function handleCountryChange() {
            const select = document.getElementById('country-select');
            const selectedValue = select.value;
            if (selectedValue) {
                alert('Selected country value: ' + selectedValue);
            }else
            { 
                alert('Please choose a country');
            }
        }
    </script>
      
</body>
</html>
