
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Bienvenue sur l'API des animaux</h1>
    <nav>
        <ul>
          <li><a href="/animals/FR">Les animaux de France</a></li>
          <li><a href="/animals/ES">Les animaux d'Espagne</a></li>
          <li><a href="/country">Pays</a></li>
        </ul>
    </nav>

    
    <select name="countries" id="country-select">
        <option value="">--Please choose a country--</option>
        <% apiPays.forEach(country => { %>
            <option value="<%= country.cca2 %>"><%= country.name.common %></option>
        <% }); %>
    </select>
      
</body>
</html>
